body {
    background-color: #343a40;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 50px;
}

.card {
    background-color: #212529;
    border-color: #343a40;
}

.card-header {
    background-color: #343a40;
    border-color: #343a40;
    color: #fff;
}

.form-control {
    background-color: #343a40;
    color: #fff;
    border-color: #6c757d;
}

.form-control:focus {
    background-color: #343a40;
    color: #fff;
    border-color: #6c757d;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
    color: #fff;
}